[Desktop Entry]
Type=Application
Exec=kraft %u 
Icon=kraft
X-DocPath=kraft/index.html
Terminal=false
Name=Kraft
Name[ast]=Kraft
Name[bs]=Kraft
Name[cs]=Kraft
Name[da]=Kraft
Name[de]=Kraft
Name[es]=Kraft
Name[et]=Kraft
Name[fi]=Kraft
Name[fr]=Kraft
Name[ga]=Kraft
Name[gl]=Kraft
Name[hu]=Kraft
Name[mr]=क्राफ्ट
Name[nl]=Kraft
Name[pl]=Kraft
Name[pt]=Kraft
Name[pt_BR]=Kraft
Name[sk]=Kraft
Name[sv]=Kraft
Name[tr]=Kraft
Name[ug]=Kraft
Name[uk]=Kraft
Name[x-test]=xxKraftxx
Categories=Office;Finance;Database;
