
html {
  color: #14213d;
  font-family: Oxygen;
  font-size: 10pt;
  line-height: 1.6;
}

html body {
    margin: 0;
    padding-top: 2mm;

}

html h1 {
    color: #2f590a;
    font-family: Roboto;
    font-size: 14pt;
    margin: 0;
}

html address {
    font-style: normal;
    white-space: pre-line;
    margin-bottom: 9mm;
    height: 40mm;
    border: solid 0px;
}

html aside {
    display: flex;
    margin: 2em 0 4em; }
    html aside address {
      font-style: normal;
      white-space: pre-line; }
      html aside address#to {
        color: #a9a;
        flex: 1; }
      html aside address#from {
        text-align: right;
}

/*
 * A absolute positioned block to display document extra info
 * on the right top of the document.
 */
html dl {
    text-align: right;
    position: absolute;
    right: 0;
    top: 8mm; }
    html dl dt, html dl dd {
      display: inline;
      margin: 0; }
    html dl dt {
      color: #a9a; }
      html dl dt::before {
        content: '';
        display: block; }
      html dl dt::after {
        content: ':';
}

sup {
   position: relative;
   vertical-align: baseline;
   top: -0.4em;
}
/*
 */
html p#letterheader {
     font-size: 8pt;
     text-decoration: underline;
}

html p.entrytext {
}

html p.bottomtext {
}

html p.goodbye {
}

/*
 * Item-Table
 * formats the item list. Each item is a line.
 */
html table#items {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
  }
  /*
   * Table header. It is repeated on every page.
   */
  html table th {
      border-bottom: .2mm solid #555;
      color: #555;
      font-size: 10pt;
      font-weight: 400;
      padding-bottom: .25cm;
      text-transform: uppercase;
  }

  html table td {
      vertical-align: top;
      padding-top: 6mm;
      // to debug: border: 1px solid black;
  }

  .col-center {
    text-align: center;
  }
  .col-right {
    text-align: right;
  }
  .col-left {
    text-align: left;
  }

  // The columns of the items table
  .col-No {
    width: 5%;
  }
  .col-Text {
    width: 50%;
  }
  .col-Amount {
    width: 8%;
    padding-right:0.8em;
  }
  .col-Unit {
    width: 10%;
  }
  .col-SPrice {
    width: 11%;
  }
  .col-Sum {
    width: 14%;
    color: #2f590a;
    font-weight: bold;
  }

  /*
   * The table to display the document sum
   */
  html table#total {
    border-collapse: collapse;
    width: 40%;
    table-layout: fixed;
    text-align: right;
    bottom: 0;
    font-size: 10pt;

    /* The following margins pull the whole box to the right */
    margin-right: 0px;
    margin-left: auto;
    margin-bottom: 12mm;

  }
  html table#total td {
      padding-top: 1mm;
      text-align: right;
  }

  .col-TotalSum {
    color: #2f590a;
    font-weight: bold;
  }

  /* the lines above the sums */
  html table#total tr:nth-of-type(1) {
      border-top: solid 1px;
  }
  html table#total tr:last-of-type {
      border-top: solid 2px;
  }
