body { margin:20px; 
       background-image:url(pics/docoverviewbg.png); 
       color: #4e4e4e;
}

td { 
  vertical-align:top;
}

div {
  border-style:none;
  border-width:0px;
  border-color:#00008B;
  margin: 1px 0px 1px 0px;
  padding: 1px;
}

.negative {
  color: #800040;
}

.positive {

}

h2 {
  border-bottom: 2px inset #000000;
  vertical-align: text-bottom;
  background-image:url(pics/docoverview_h2_bg.png);
  background-repeat: no-repeat;
  background-position: right;
  image-repeat: none;
  height: 64px;

}
