body { margin:2px; }

table {
      color: #898989;
}

td { 
  vertical-align:top;
}

a:link {
  font-weight: bold;
  text-decoration: none;
  color: #00008b;
}

a:visited {
  font-weight: bold;
  text-decoration: none;
  color: 00008b;
}

a:hover {
  color: #c81e1e;
  font-weight: bolder;
  text-decoration: none;
}

a:active {
  color: #cccccc;
  text-decoration: underline;
}

.links {
  border-style: dotted;
  border-width: thin;
  width: 100%;
  padding: 1px;
}

div {
  border-style:dotted;
  border-width:1px;
  border-color:#00008B;
  margin: 0px 0px 4px 0px;
  padding: 2px;
  color: #898989;

}

.headerlink { background: #8ddbe9; }
.headerlink_selected { 
  background: #9af0ff;   
  font-weight: bolder;
      color: #898989;

}

.bodylink   { background: #8de99a; }
.bodylink_selected   { 
  background: #9affa9;   
  font-weight: bolder;
}

.footerlink { background: #dbe98d; }
.footerlink_selected { 
  background: #f0ff9a;   
  font-weight: bolder;
}

// .head { background:#9af0ff; }
// .body { background:#9affa9; }
// .footer { background:#f0ff9a; }


