body { margin:2px; }

div { 
      margin: 0px 0px 4px 0px; 
      padding: 5px;
}


div.head { 
      border-style:dotted;
      border-width:1px;
      border-color:#00008B;
      background-color: #cfdaff; }
div.body { 
      border-style:dotted;
      border-width:1px;
      border-color:#00008B;
      background-color: #dfffcf; }
div.footer { 
      border-style:dotted;
      border-width:1px;
      border-color:#00008B;
      background-color: #fffccf; }
