<!DOCTYPE kpartgui>
<kpartgui name="katalogview" version="0.1">
<MenuBar>
  <Menu name="file"><text>&amp;File</text>
    <Action name="export_catalog"/>
  </Menu>
  <Menu name="templates"><text>&amp;Catalog</text>
    <Action name="edit_template"/>
    <Action name="new_template"/>
    <Action name="delete_template"/>
    <Separator/>
    <Action name="edit_chapter"/>
    <Action name="add_chapter"/>
    <Action name="remove_chapter"/>
  </Menu>
</MenuBar>
<ToolBar  name="mainToolBar" fullWidth="true">
    <Action name="edit_template"/>
    <Action name="new_template"/>
    <Action name="add_chapter"/>
    <Action name="edit_chapter"/>
    <Action name="go_to_document"/>
    <Action name="targets"/>
</ToolBar>
</kpartgui>
