<!DOCTYPE kpartgui>
<kpartgui name="kraft" version="0.2">
<MenuBar>
  <Menu name="document"><text>&amp;Document</text>
     <Action name="document_open"/>
     <Action name="document_view"/>
     <Action name="document_new"/>
     <Action name="document_copy"/>
     <Action name="document_follow"/>
     <Separator/>
     <Action name="document_print"/>
     <Action name="archived_open"/>
     <Action name="document_mail"/>
  </Menu>
  <Menu name="settings"><text>Settings</text>
     <Action name="edit_tag_templates"/>
     <Action name="reconfigure_db"/>
  </Menu>
</MenuBar>
<ToolBar  name="documentToolBar" fullWidth="true">
    <Text>Document Actions</Text>
    <Action name="document_new"/>
    <Action name="document_open"/>
    <Action name="document_view"/>
    <Action name="document_follow"/>
    <Action name="document_print"/>
</ToolBar>

</kpartgui>
