[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kraft -caption "%c" %i %m 
Icon=kraft
DocPath=kraft/index.html
Terminal=false
Name=Kraft
Categories=Qt;KDE;Office;
Encoding=UTF-8
