[Desktop Entry]
Type=Application
Exec=kraft -caption "%c" %i
Icon=kraft
X-DocPath=kraft/index.html
Terminal=false
Name=Kraft
Name[et]=Kraft
Categories=Office;Finance;Database;
