
h2 {
    color: #64ad24;
}

#inhalt_calendar {
  width: auto;
  margin: 0px 160px;

  padding: 5px;
  height: 140px;
}

#links {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 200px;
  height: 140px;

  background-color: #eeeeee;
  padding: 5px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

#links_calendar {
  position: absolute;
  top: 5px;
  left: 20px;
  width: 140px;
  height: 100px;

  padding-top: 60px;
  padding-left:0px;
  background-image: url(pics/Calendar_page.png);
  background-repeat:no-repeat;
  font-size: 32px;
  text-align:center;

}

