
/* general document parameters */

body {
  margin:20px;
  background-image:url(pics/docoverviewbg.png);
  color: #4e4e4e;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: large;
}

/* make all text content in table cells align top */

td {
  vertical-align:top;
}


/* for aligning content of the sum table cells */

.col-TotalSum  {
  text-align: right;
  vertical-align: bottom;
  font-weight: bold;
}
