
body {
       background-image:url(pics/docoverviewbg.png);
       font-family: 'Source Sans Pro', sans-serif;
}

td {
  vertical-align:top;
}

div {
  padding: 1px;
  color: #898989;
}

a:link {
  text-decoration: none;
  color: #00008b;
}

a:visited {
  text-decoration: none;
  color: #00008b;
}

a:hover {
  color: #00008b;
  text-decoration: none;

}

a:active {
  color: #00008b;
  text-decoration: underline;
}

.headerlink {
  background: #8ddbe9;
}

.headerlink_selected {
  background: #9af0ff;
  font-weight: bold;
}

.bodylink {
  background: #8de99a;
}

.bodylink_selected   {
  background: #9affaa;
  font-weight: bold;
}

.footerlink {
  background: #dbe98d;
}

.footerlink_selected {
  background: #f0ff9a;
  font-weight: bold;
}

.negative {
  color: #800040;
}

.head_selected {

}

.body_selected {

}

.foot_selected {

}

td.baseline {
}

td.itemnums {
}

td.itemtexts {
}

td.prices {
}

