body { margin:2px; 
       background-image:url({{CSS_IMG_PATH}}/docoverviewbg.png);
       font-size:x-small;
}

table {
      color: #898989;
}

td { 
  vertical-align:top;
}

a:link {
  text-decoration: none;
  color: #00008b;
}

a:visited {
  font-weight: bold;
  text-decoration: none;
  color: 00008b;
}

a:hover {
  color: #c81e1e;
  text-decoration: none;

}

a:active {
  color: #cccccc;
  text-decoration: underline;
}

.links {
  border-style: dotted;
  border-width: thin;
  width: 100%;
  padding: 1px;
}

div {
  border-style:dotted;
  border-width:1px;
  border-color:#00008B;
  margin: 1px 0px 1px 0px;
  padding: 1px;
  color: #898989;
}

div.alignright {
  border-style:none;
  border-width:0px;
  margin: 1px 0px 1px 0px;
  padding: 1px;
  color: #898989;
}

.negative {
  color: #800040;
}

.head_selected {   border-width:1px;
  border-style:solid;
  border-color:#00008b;
}
.body_selected {   border-width:1px;
  border-style:solid;
  border-color:00008b;
}
.foot_selected {   border-width:1px;
  border-style:solid;
  border-color:#00008b;
}

.headerlink { background: #8ddbe9; }
.headerlink_selected { 
  background: #9af0ff;   
  font-weight: bolder;
      color: #898989;

}

.bodylink   { background: #8de99a; }
.bodylink_selected   { 
  background: #9affa9;   
  font-weight: bolder;
}

.footerlink { background: #dbe98d; }
.footerlink_selected { 
  background: #f0ff9a;   
  font-weight: bolder;
}

td.baseline {
  border-bottom:1px inset #898989;
  padding-left: 30px;
  margin-left: 30px;
}

td.itemnums {
  width: 15px;
  text-align: right;
  vertical-align: bottom;
}

td.itemtexts {
}

td.prices {
  text-align: right;
  vertical-align: bottom;
}

td.legends {
   width: 10px;
   text-align: right;
   vertical-align: bottom;
}
